name: Check
permissions:
  contents: read
on:
  pull_request:
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          df -h
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: poetry install --with checks,gpu
      - run: poetry run invoke checks
